language: bash

services:
  - docker

env:
  global:
    - LATEST_TAG=1.3
  matrix:
    - TAG=1.3 AUTH_SERVER_VER=1.3 EXTRA_TAG=1

script:
  - make && make test

after_success:
  - . "${TRAVIS_BUILD_DIR}/release.sh"
